<ion-header>
    <ion-toolbar color="secondary" fixed>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="secondary">
            <ion-button fill="solid" style="font-size: 18px;" routerDirection='root' routerLink='/home' color="secondary">
                <ion-icon slot="start" name="home"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Ajouter un quote
        </ion-title>


    </ion-toolbar>
</ion-header>
<ion-content padding>



    <div class="profile-card card text-center">

        <div class="card-body" style="padding: 0.8rem">

            <div class="d-flex px-1 w-100 align-items-center text-left">
                <div class="w-100">
                    <p class="text-muted font-weight-bold small" style="margin-bottom: 0;">
                        <b>Quote :</b>
                    </p>
                    <br>

                    <div class="row">

                        <textarea [(ngModel)]="quote.content" name="quote.content" class="form-control form-control-large" style="font-size: 12px;width:100%;" name="description" id="" rows="8"></textarea>


                    </div>



                </div>

            </div>


        </div>
    </div>
    <br>




    <button type="button" class="btn btn-block btn-success" (click)="CreeNews()"> Créer quote</button>

</ion-content>