ion-label {
    font-weight: 700;
    font-size: 18px;
    z-index: 3;
    color: #686868;
    font-family: Roboto Condensed;
    overflow: initial;
    position: relative;
    top: -4px;
    margin-left: 4px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F9FAFC;
    background-clip: border-box;
    border: 3px solid rgba(64, 64, 71, 0.125);
    border-radius: 1.25rem;
}