// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.Feedback-modal {
    position: relative;
    width: 85%;
    margin-left: 24px;
    margin-right: auto;
    height: 62%;
    margin-top: 35%;
    border-radius: 28px;
}
.affectEquipement{
    height: 50%;
    width: 100%;
    margin: auto;
}
.enCopieByDate{
    height: 30%;
    width: 100%;
    margin: auto;
}
.VerifieDisponibilite{
    height: 60%;
    width: 98%;
    margin: auto;
    border-radius: 30px;
    border-bottom-style: double;
    background: #e2e2ea;
    
}